<strong>Forgot Password?</strong>

<p>A request to get a new password was made for the email ({{ email }}). If you're not the right owner of this email, please ignore.</p>

<p>To continue the password recovery proceedure, use the token {{ token }} or click at the link below.</p>

<a href="{{ link }}">Create new password</a>
